@import "tailwindcss";
@plugin "daisyui";

@config '../tailwind.config.cjs';


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility no-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;

  /* Styles for WebKit browsers (Chrome, Safari, newer versions of Opera) */
  &::-webkit-scrollbar {
    width: auto; /* Keep the width for vertical scrollbar */
    height: 0; /* Set height to 0 to hide horizontal scrollbar */
  }

  /* Styles for Firefox */
  scrollbar-width: thin;
  scrollbar-color: auto transparent; /* vertical scrollbar color, then track color */

  /* Styles for Internet Explorer and Edge */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@utility shake-ticker {
  &:hover img {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@layer utilities {

  .table {
    tr {
  @apply border-b border-gray-800;
}
   
}
}


@layer utilities {

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

